body {
	font-family: Georgia;
	font-size: 40px;
	background-color: #50888f;
}

a {
	color:red;
}






.header {
  padding: 50px;
  text-align: center;
  font-family: Edo SZ;
  font-size: 100px;
}

.header2 {
  text-align: center;

}

.column1 {
  float: left;
  width: 100%;
  font-size: 25px;
   column-count: 2;
    column-gap: 50px;
    column-rule-style: outset;
    column-rule-width: 1px;
    line-height: 30px;
    padding: 50px;
}

.column2 {
  float: left;
  width: 100%;
  font-size: 15px;
   column-count: 3;
    column-gap: 50px;
    column-rule-style: outset;
    column-rule-width: 1px;
    background-color: black;
    color:#50888f;
    padding: 50px;
    line-height: 20px;
 
}

.column3 {
 float: left;
  width: 100%;
  font-size: 15px;
   column-count: 3;
    column-gap: 50px;
    column-rule-style: outset;
    column-rule-width: 1px;
    padding: 50px;
    line-height: 20px;
}

.column4 {
  float: left;
  width: 100%;
  font-size: 15px;
   column-count: 4;
    column-gap: 50px;
    column-rule-style: outset;
    column-rule-width: 1px;
    background-color: black;
    color:#50888f;
    padding: 50px;
    line-height: 20px;
}

.column5 {
 float: left;
  width: 100%;
  font-size: 15px;
   column-count: 3;
    column-gap: 50px;
    column-rule-style: outset;
    column-rule-width: 1px;
    padding: 50px;
    line-height: 20px;
}




.nav {
	font-size: 20px;
  overflow: hidden ;
  width:43px;
  position: fixed;
  top:20px;  
  border: 1px solid black;
  background:black;
}

.nav a {
  float: left;
  display:block;
  color: #fc0183;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: black;
  color: #50888f;
}





.item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 2s;
}

.item{

     color:#fc0183;
  font-size:10px;
   text-shadow: 5px 5px 5px black;
   
}

.item img:hover{

transform: rotate(360deg);

}

.item.body{

     color:#fc0183;
  font-size:10px;
   text-shadow: 5px 5px 5px #50888f;
   
}

.item.map{
    
       color:#fc0183;
  font-size:10px;
   text-shadow: 5px 5px 5px #50888f;
}

.item.fake{

     color:#fc0183;
  font-size:10px;
   text-shadow: 5px 5px 5px black;
   
}

.item.history{

     color:#fc0183;
  font-size:10px;
   text-shadow: 5px 5px 5px black;
   
} 


.banner {
  display: flex;
  flex-wrap:wrap;
  margin-top:50px;
  margin-left:20px;

}


.copyright {
  color:black;
  width:33%;
}

.reference {
  color:black;
  width:66%;
}


