body {
	  font-family: refrigerator-deluxe,sans-serif;
font-weight: 300;
font-style: normal;
	font-size: 40px;
	background-color:black;
}








.header1 {
  padding: 50px;
  text-align: center;

  
  animation: colorchange 10s infinite;
  

}

.header11 {
  padding: 50px;
  text-align: center;
 
 
  animation: colorchange 10s infinite;
 

}

.header111 {
  padding: 50px;
  text-align: center;
  

  animation: colorchange 10s infinite;
  
}

.header1111 {
  padding: 50px;
  text-align: center;
 
  
  animation: colorchange 10s infinite;


}

.header11111 {
  padding: 50px;
  text-align: center;
 
  
  animation: colorchange 10s infinite;


}


@keyframes colorchange {
    0% {
          color: black;
        }
        
        50% {
          color: #b1a701;
        }
        
        100% {
          color: #fc0183;
        }
      }

.header2 {
  text-align: center;
 font-family: refrigerator-deluxe,sans-serif;
font-weight: 300;
font-style: normal;
  font-size: 20px;
  color:#fc0183;
  

}

h1{

  font-family: refrigerator-deluxe,sans-serif;
font-weight: 700;
font-style: normal;
font-size:400px;
}

h2 {
  text-shadow: 5px 5px 10px #fc0183;
  font-size: 70px;
  line-height: 100px;
  color:#50888f;

}

p{
  font-family: refrigerator-deluxe,sans-serif;
font-weight: 300;
font-style: normal;
  font-size: 20px;
     line-height: 40px;
     color:#50888f;
}

.column1 {
  float: left;
  width: 100%;
  font-size: 20px;
   column-count: 2;
    column-gap: 50px;

    line-height: 40px;
    padding: 50px;
font-family: politica,sans-serif;
font-weight: 400;
font-style: italic;
border-style:solid;
  border-width:1px;
  border-color: #fc0183;
  
  
}




.column2 {
  float: left;
  width: 100%;
  font-size: 20px;
   column-count: 3;
    column-gap: 30px;
 
    background-color: black;
    color:#50888f;
    padding: 50px;
    line-height: 20px;
      font-family: politica,sans-serif;
font-weight: 400;
font-style: italic;
  
  
}

.column3 {
 float: left;
  width: 100%;
  font-size: 20px;
   column-count: 3;
    column-gap: 30px;

    padding: 50px;
    line-height: 20px;
    
    font-family: politica,sans-serif;
font-weight: 400;
font-style: italic;
  border-width:1px;
  border-color: #fc0183;

}

.column4 {
  float: left;
  width: 100%;
  font-size: 20px;
   column-count: 3;
    column-gap:30px;
   
    background-color: black;
    color:#50888f;
    padding: 50px;
    line-height: 20px;
   font-family: politica,sans-serif;
font-weight: 400;
font-style: italic;
}

.column5 {
 float: left;
  width: 100%;
  font-size: 20px;
   column-count: 3;
    column-gap: 30px;
 
    padding: 50px;
    line-height: 20px;
    font-family: politica,sans-serif;
font-weight: 400;
font-style: italic;
 
}

.column6 {
  float: left;
  width: 100%;
  font-size: 20px;
   column-count: 3;
    column-gap:30px;
   
    background-color: black;
    color:#50888f;
    padding: 50px;
    line-height: 20px;
   font-family: politica,sans-serif;
font-weight: 400;
font-style: italic;
}





.nav {
	font-size: 20px;
  overflow: hidden ;
  width:43px;
  position: fixed;
  top:20px;  
  border: 1px solid black;
  background:black;
}

.nav a {
  float: left;
  display:block;
  color: #fc0183;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: black;
  color: #50888f;
}





.item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 2s;
}

.item{

     color:#fc0183;
  font-size:10px;
 
   
}

.item img:hover{

transform: rotate(360deg);

}

.item.body{

     color:#fc0183;
  font-size:10px;
   
   line-height: 15px;
   
}

.item.map{
       
       color:#fc0183;
  font-size:10px;
   
   line-height: 15px;
}



.item.fake{

     color:#fc0183;
  font-size:10px;
  
   line-height: 15px;
   
}

.item.history{

     color:#fc0183;
  font-size:10px;
   
   line-height: 15px;
   
} 



.grid {
  display: flex;
  flex-wrap: wrap;
}

.col1 {

 width: 33.33%;
 background-color:#50888f;
 height: 700px;

font-size: 80px;

}
.col2 {
 
 width: 33.33%;
 background-color: #b1a701;
 height: 700px;

font-size: 80px;
}
.col3 {
  background-color: #4366a0;
 width: 33.33%;
 height: 700px;

font-size: 80px;
bottom: auto;
}

.hometitle{
  font-family: refrigerator-deluxe,sans-serif;
font-weight: 700;
font-style: normal;
font-size:200px;
  padding: 50px;
  text-align: center;
  animation: colorchange 2s infinite;

}

a {
  text-decoration: none;
  color: black;
}


::selection {
  background: #fc0183;
  color: black;
}

.copyright{
  font-size: 10px;
  color: gray;
  padding: 50px;
}





