body {
	font-family: Arial Black;
	font-size: 100px;
	 text-align: center;
	 background-color:black;
}

a {
	color:red;
}

.title{
	color:white;
	text-align: center;
}
.images{
	width:200px;
	margin:auto;
}
