body {
	font-family: Arial Black;
	font-size: 60px;
  text-align: center;
	background-color:black;
}


.mada{
	font-size: 300px;
	animation: colorchange 2s infinite;
  text-align: center;
  filter:blur(20px);
}
.mada2{
font-size: 300px;
animation: colorchange 2s infinite;
text-align: center;
filter:blur(20px);
}

@keyframes colorchange {
    0% {
      color:red; 
       
      
      
  }
    100%{
     
      color:yellow;
        
       
    }
}


.circle{
width:100px;
height:100px;
border-radius:100%;
background:radial-gradient(yellow, red);
position:fixed;
top:300px;
}


.circle1{
width:100px;
height:100px;
border-radius:100%;
background:radial-gradient(yellow, red);
position:fixed;
top:100px;
}


.circle2{
width:100px;
height:100px;
border-radius:100%;
background:radial-gradient(yellow, red);
position:fixed;
top:500px;
}

.circle3{
width:100px;
height:100px;
border-radius:100%;
background:radial-gradient(yellow, red);
position:fixed;
top:700px;
}


.circle4{
width:50px;
height:50px;
border-radius:100%;
background:radial-gradient(yellow, red);
position:fixed;
left:700px;

}


.title{
	font-size:100px;
  color:yellow;
  text-align: center;

}

.date{
  font-size:200px;
	color:red;
	animation:skew 3s infinite alternate


}


@keyframes skew{
    0% {
     
    
      transform:skew(100deg);
      
  }
    100%{
     
    
       transform:skew(-100deg);
       
    }
}

.sen{
	animation: colorchangeee 3s infinite;
  font-size:200px;
}

@keyframes colorchangeee {
    0% {
      color:black; 
      
      
  }
    100%{
     
      color:yellow;
       
    }
}
a {
	color:red;
}


span {
	color:red;
}
