body{
  background-color:black;
  font-family:Steelfish;

}

.mada{
font-size:100px;
background-color:white;
  
 animation: colorchange 2s infinite;

}


@keyframes colorchange {
    0% {
      color:red; 
        letter-spacing: 20px;
      
      
  }
    100%{
     
      color:yellow;
        letter-spacing: 100px;
       
    }
}

.title{
  font-size:100px;
background-color:white;
 animation: colorchangeee 1s infinite;
}

@keyframes colorchangeee {
    0% {
      color:purple; 
      
      
  }
    100%{
     
      color:pink;
       
    }
}
.sen{
    font-size:100px;
background-color:white;
color:white;
animation: colorchangeeee 0.2s infinite;
}

@keyframes colorchangeeee {
    0% {
      color:white; 
      
      
  }
    100%{
     
      color:blue;
       
    }
}

.date{
      font-size:100px;
background-color:white;
animation: colorchange 2s infinite;
}

@keyframes colorchangee {
    0% {
     
      color:red; 
      
  }
    100%{
     
        color:yellow;
       
    }
}