body{
  background-color:black;
  font-family: Arial Black;



}
.circle{
  width:50px;
  height:50px;
  background-color: blue;
  border-radius: 100%;
  border-radius:100%;
  background:blue;
    transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1400px;
  margin-top:0px;
  filter:blur(10px);
}

.circle1{
  width:50px;
  height:50px;
  background-color: blue;
  border-radius: 100%;
  border-radius:100%;
  background:blue;
    transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1300px;
  margin-top:0px;
}
.circle2{
  width:50px;
  height:50px;
  background-color: blue;
  border-radius: 100%;
  border-radius:100%;
  background:blue;
    transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1200px;
  margin-top:0px;
  filter:blur(10px);
}
.circle3{
  width:50px;
  height:50px;
  background-color: blue;
  border-radius: 100%;
  border-radius:100%;
  background:blue;
    transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1100px;
  margin-top:0px;
}




.mada{
font-size:50px;
color:white;
  transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:700px;
  margin-top:0px;
  filter:blur(10px);
 }

.mada2{
font-size:50px;
color:white;
  transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:800px;
  margin-top:0px;
 }

.mada3{
font-size:50px;
color:white;
  transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:900px;
  margin-top:0px;
  filter:blur(10px);
 }


 .mada4{
font-size:50px;
color:white;
  transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1000px;
  margin-top:0px;
 }

 .mada5{
font-size:50px;
color:white;
  transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1100px;
  margin-top:0px;
  filter:blur(10px);
 }

  .mada6{
font-size:50px;
color:white;
  transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1200px;
  margin-top:0px;
 }
 .mada7{
font-size:50px;
color:white;
  transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1300px;
  margin-top:0px;
  filter:blur(10px);
 }

  .mada8{
font-size:50px;
color:white;
  transform-origin:bottom left;
  transform: rotate(-90deg);
  margin-left:1400px;
  margin-top:0px;
 }


.box{
  height:100vh;
  width:600px;
  background-color:blue;
  font-size:200px;
  overflow:scroll;
 animation: colorchangeee 1s infinite;
}

@keyframes colorchangeee {
    0% {
      color:purple; 
      
      
  }
    100%{
     
      color:white;
       
    }
}
.sen{
    font-size:200px;
color:blue;


}



.date{
      font-size:100px;
     color:white;
     filter:blur(10px);

}


